* {box-sizing: border-box;}
body {
	font-family: Tahoma, sans-serif;
	font-size: 1em;
}
.container {
	position: absolute;
	top: 0px;
	left: 0px;
	height:  100%;
	width: 100%;
}

.row {
	width: 100%;
	padding: 5px;
}
.row>div{
	background: #CCFFCC;
}


h1 {
	font-size: 1.75em;
	text-align: center;	

}

#tab1, #tab2, #tab3 {
	font-size: 1.25em;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30%;
	height: 1.3em;
	text-align: center;
	color: white;
}

#tab1 {
		background-color:#ff8000;
}
#tab2 {
		background-color:#ff0020;
}
#tab3 {
		background-color:#cc5020;
}

@media (min-width: 992px){
	.col-lg-4 {
	width: 29%;
	float: left;
	border: 1px solid black;
	margin: 10px 2%;
	padding:  15px;
	padding-top: 2em;
	position: relative;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 40%;
		float: left;
		border: 1px solid black;
		margin: 10px 5%;
		padding:  10px;
		padding-top: 2em;
		position: relative;
	}
	.col-md-12 {
		width: 90%;
		float: left;
		border:1px solid black;
		margin: 10px 5%;
		padding:  10px;
		padding-top: 2em;
		position: relative;
	}
}
@media (max-width: 767px){
	.col-sm{
		width: 95%;
		float: left;
		border: 1px solid black;
		margin: 10px;
		padding:  10px;
		padding-top: 2em;
		position: relative;
	}
}